
/* RESPONSIVE */
@media screen and (max-width: 760px) {

  h1 {
    width: 723px;
    border: 2px solid blue;
    height: 103px;
  }



  nav a#toggle-btn {
    border: 2px solid grey;
    background-color: grey;
    height: 103px;
    border: 2px solid blue;
    color: grey;
    width: 100%;
    position: relative;
    max-width: -webkit-fill-available;
    display: inline-grid;
    text-align: center;
    text-decoration:none.
  }

  .section-start p {
    border: 2px solid #fb0d0d;
    background-color: grey;
    font-size: 34px;
    width: 459px;
    height: 45px;
  }

  .left{
    border: 2px solid #fb0d0d;
    background-color: grey;
    font-size: 34px;
    width: 279px;
    height: 228px;
    margin: auto;
  }

  .right{
    border: 2px solid #fb0d0d;
    background-color: grey;
    font-size: 34px;
    width: 367px;
    height: 45px;
    top: 9px;
    position: relative;
    margin:auto
  }

  .titre1{
    border: 2px solid #695454;
    position: relative;
    top: 22px;
    background: red;
    height: 45px;
    width: 433px;
    left: 144px;
  }

  .educa{
    position: relative;
    border: 2px solid #fb0d0d;
    top: 53px;
  }

  .card{
    border: 2px solid #d3dde4;
    height: 150px;
    width: 417px;
    margin: auto;
    background: #5285a7;
  }

  .container h2{
    border: 2px solid black;
    height: 46px;
    background-color: red;
  }

  .container p{
    border: 2px solid #fb0d0d;
    width: 254px;
    height: 20px;
    margin: auto;
  }
  .container a{
    border: 2px solid #fb0d0d;
    float: right;
    width: 56px;
    height: 20px;
    background: red;
  }

  .titre2 h2{
    border: 2px solid #695454;
    position: relative;
    top: 48px;
    background: red;
    height: 45px;
    width: 433px;
    left: 144px;
  }


  .exp {
    border: 2px solid #fb0d0d;
    top: 45px;
    /* height: 337px; */
    position: relative;
  }

  .carte {
    border: 2px solid #fb0d0d;
    top: 45px;
    position: relative;

  }

  .contentement img{
    border: 2px solid #fb0d0d;
    margin: auto;
    position: relative;
    background: grey;
    left: 225px;
    width: 263px;
    height: 197px;
  }

  .contentement h3{
    border: 2px solid #fb0d0d;
    margin: auto;
    position: absolute;
    /* position: relative; */
    background: grey;
    left: 301px;
    top: 142px;
    width: 114px;
    height: 23px;
    /* width: 263px; */
    /* height: 197px;*/
  }


  .contentement p {
    border: 2px solid #fb0d0d;
    margin: auto;
    position: relative;
    background: grey;
    height: 197px;
    width: 235px;
    top: bottom;
    bottom: 2px;
  }




  .titre4 h2{
    border: 2px solid #695454;
    position: relative;
    top: 89px;
    background: red;
    height: 45px;
    width: 433px;
    left: 144px;
  }


  .hobbies{
    position: relative;
    border: 2px solid #fb0d0d;
    top: 53px;
    position: relative;
    border: 2px solid #fb0d0d;
    top: 101px;
  }

  .carte1 {
    position: relative;
    border: 2px solid #fb0d0d;
    /* top: 83px; */
    height: 265px;
    width: 311px;
    margin: auto;
  }

  .carte-image{
    position: relative;
    border: 2px solid #fb0d0d;
    top: 83px;
  }

  .carte-texte h2{
    position: relative;
    border: 2px solid #fb0d0d;
    top: 83px;
  }

  .ls p{
    border: 2px solid #fb0d0d;
    /* top: 45px; */
    position: relative;
    height: 56px;
    background: gray;
  }


  .titre5 h2{
    border: 2px solid #695454;
    position: relative;
    top: 117px;
    background: red;
    height: 45px;
    width: 433px;
    left: 144px;
  }

  .contacter{
    border: 2px solid #fb0d0d;
    /* top: 45px; */
    position: relative;
    height: 231px;
    width: 322px;
    margin: auto;
    top: 115px;
    background: gray;
  }

  .mail{
    position: relative;
    border: 2px solid #fb0d0d;
    top: 73px;
    height: 24px;
    width: 126px;
    margin: auto;
  }
  .tel{
    position: relative;
    border: 2px solid #fb0d0d;
    top: 83px;
    width: 126px;
    margin: auto;
    height: 24px;

  }

  .pdf{
    position: relative;
    border: 2px solid #fb0d0d;
    top: 210px;
    height: 41px;
    width: 126px;
    margin: auto;
  }
  .book{
    position: relative;
    border: 2px solid #fb0d0d;
    top: 116px;
    height: 41px;
    width: 126px;
    margin: auto;
}
  .footer{
    height: 20px;
  }




}
/* Fin du responsive */
